@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/*======== Global Vue ========*/

:root {
  --font-size: 16px;
  --spacing: 16px;
  --sm-spacing: 8px;
  --big-spacing: 32px;

  --white: rgb(0, 0, 0);
  --main: #ffffff;
  --second-clr: #ececec;
  --third-clr: #d4d4d4;
  --border: 1.5px;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Inconsolata', "Supreme", "Roboto", "Lato", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--white);
  background: var(--third-clr);
  font-size: var(--font-size);
  font-weight: 500;
}

/*======== Typography & Links ========*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nosifer';
  display: inline-block;
  color: rgb(19, 6, 6);
}

h2 {font-size: calc(var(--font-size) * 2);}

p {
  font-size: calc(var(--font-size) * 1.25);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

a, label {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: red;
}

a.nav-link {
  color: var(--white);
  display: block;
  position: relative;
  padding: 0 var(--big-spacing) 0 0;
  font-size: 24px;
}

.nav-link::before {
  content: "";
  background: red;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 2px;
  transform: scale(0);
  transform-origin: left;
  transition: transform .3s ease-in;
}

.nav-link:hover::before {
  transform: scale(1);
}

a:hover {
 color: red;
 font-weight: 550;
 cursor: pointer;
}

/*======== Components ========*/

.logo {
  position: relative;
}

.logo a {
  font-family: 'Clash display', "Supreme", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 28px;
  color: red;
}

.logo svg{
  display: none;
  cursor: pointer;
}

/*======== Layout ========*/
.header, footer, .article, .mail-us {
  background: var(--second-clr);
}
/*== Header ==*/

.header {
  width: 80%;
  height: 7.5vh;
  position: fixed;
  top: 0;
  z-index: 5;
  border: 2px solid black;
  border-radius: 8px 38px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--second-clr);
}

header {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: var(--sm-spacing);
}

.nav {
  grid-column: 2 / span 4;
  display: flex;
  justify-content: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.social-media {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 var(--sm-spacing);
}

@media only screen and (max-width: 600px) {
  :root {
    --font-size: 14px;
  }
  
  .logo, .nav, .social-media {
    grid-column: 1 / span 6;
  }
  .nav, .social-media {
    display: none;
  }
  
  .logo svg {
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    transform: scale(2);
  }

  .nav-bar {
    flex-direction: column;
  }

  a.nav-link {
    text-align: center;
    font-size: 16px;
    padding: var(--sm-spacing) 0;
  }

  .nav-link:hover:before {display: none}

  .social-media {
    justify-content: flex-end;
  }
}

/*== Main ==*/

.article, .mail-us, input, textarea {
  border-radius: 8px;
}

.article, form, footer {
  padding: var(--spacing);
}

.section, .mail-us {
  margin: auto;
  width: 600px;
  max-width: 80%;
}

.article:hover, .mail-us:hover, input[type='submit']:hover {
  border: 2px solid black;
}
main {
  display: grid;
  grid-template-columns: auto;
  gap: var(--big-spacing);
  margin-bottom: calc(3 * var(--spacing));
}

.what-we-do {
  min-height: 95vh;
  color: var(--white);
  background-image: url('images/image-source/main-picture.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid black;
  margin: calc(var(--big-spacing)* 1.380) 0 0;
  text-align: center;
}

.what-we-do h1
{
  color: #d4d4d4;
  margin-top: 150px;

}

.who-are-we
{
  display: inline;
}

.who-are-we p
{
  text-align: center;
  font-size: xx-large;
}

@keyframes left-to-right {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-90%);
  }
}
.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacing);
  text-align: justify;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: var(--spacing);
  padding: var(--spacing);
  border-radius: 8px;
  transition: transform .3s ease-in;
  min-height: 500px;
  align-items: flex-end;
}

/* .article:hover {
  transform: scale(1.1, 1.2)
} */

.img-container {
  position: relative;
  height: 100%;
}

.article img {
  position: absolute;
  width: 100%;
  max-width: 100%;
  min-width: 80%;
  height: 100%; 
  border-radius: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* .description {
/*   grid-column: 2 / span 2; */


.mail-us {
  position: relative;
}

.mail-us > div {
  text-align: center;
}

.mail-us form {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--sm-spacing);
}

.form-input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

input {
  padding: var(--sm-spacing);
  border: none;
}

.form-input input, .form-input textarea {
  grid-column: 2 / span 2;
}

input[type="submit"] {
  width: 50%;
  transform: translateX(83%);
  background-image: repeating-linear-gradient(to right, red, rgb(17, 1, 1));
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: calc(var(--font-size) * 1.1);
  border-radius: 1em;
}
/**== Footer ==*/

footer {
  color:rgba(0, 0, 0);
  text-align: center;
}
/** == Media queries == */
@media only screen and (max-width: 900px) {
  .header {
    width: 100%;
    text-align: center;
  }
  .what-we-do p {
    top: 50%;
    /*transform: translateY(-50%);*/
  }
  .article, .mail-us {
    margin: auto;
    width: 75%;
    max-width: 80%;
  }
  .article {
    grid-template:  auto auto/ 1fr;
  } 
  .article img {
    all: unset;
    width: 100%;
    border-radius: 8px;
  }
  .description {
    all: unset;
  }
}
